<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DesFirePersonalizer.Properties.Settings.OneCard_SolutionConnectionString"
      connectionString="Data Source=QASEM-PC;Initial Catalog=OneCard_Solution;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="db_file" value="file.db"/>
    <add key="CountryFile" value=".\resources\country.txt"/>
    <add key="MajorFile" value=".\resources\majors.txt"/>
    <add key="LastAccessedFolder" value="C:\Users\Bondhan  Novandy\Pictures\Clips"/>
    <add key="CardReader" value="OMNIKEY CardMan 5x21-CL 0"/>
    <add key="TemplateXmlFiles" value=".\resources\template.xml"/>
    <add key="MaxBookAllowed" value="002"/>
    <add key="MinBookAllowed" value="000"/>
    <add key="InitialBook" value="000"/>
    <add key="MinimumCredit" value="000"/>
    <add key="MaximumCredit" value="500"/>
    <add key="InitialCredit" value="100"/>
    <add key="MaxImageSize" value="5900"/>
    <add key="FormatConfirmation" value="true"/>
    <add key="InitialCounterValue" value="000"/>
    <!-- Terminal data for transaction -->
    <!-- LOG = TerminalID (4) || Transaction Type (1) || Date (3) || Time (3) -->
    <add key="TerminalID" value="1122334455667788"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <!--<DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>-->

      <!--<DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
        <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      </DbProviderFactories>-->
    </system.data>
</configuration>
